---
// Welcome to Astro! Everything between these triple-dash code fences
// is your "component frontmatter". It never runs in the browser.
import "./styles/global.css";
import Header from "../pages/components/Header.svelte"
import Main from "../pages/components/Main.svelte"
title: 'My Homepage'
import {translations} from '../translations'
const expectedLanguages=['en','gr']
const url = new URL(Astro.request.url);
const langInput= url.searchParams.get('lang')||'en'
const lang =expectedLanguages.includes(langInput)?langInput:'en';
const cp= translations[lang]
console.log(lang);
---

<!-- Below is your "component template." It's just HTML, but with
    some magic sprinkled in to help you build great templates. -->
      <html>
        <head>
            <meta charset="UTF-8" />
        </head>
        <body  class="flex flex-col gap-y-20 bg-hex-blue-400">
         <Header lang={lang}  client:load/>
          <Main text={cp.main}/>
        </body>
        </html>
        <style>
</style>