---
// Welcome to Astro! Everything between these triple-dash code fences
// is your "component frontmatter". It never runs in the browser.
import "./styles/global.css";
import Header from "../pages/components/Header.svelte"
console.log('This runs in your terminal, not the browser!');
---
<!-- Below is your "component template." It's just HTML, but with
    some magic sprinkled in to help you build great templates. -->
<html>
  <body class="bg-hex-blue-400">
    <Header  client:load/>
  </body>
</html>
<style>

</style>